@charset "utf-8";

@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css';

/*******************/

html {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.4;
}
*, ::before, ::after { box-sizing: inherit; }
img { max-width: 100%; }


/***************/
/* typography */
/**************/
.f3 { font-size: 1rem; }
.sans-serif { font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }
.measure { max-width: 22em; }
.measure-wide { max-width: 30em; }

.nobreak { white-space:nowrap; }

.link {
  color: blue;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}

ul.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list li {
  padding-left: 1em;
  text-indent: -1em;
}

.bullet:before {
  content: "—";
  padding-right: .5rem;
}

.out {
  &:before {
    width: calc(100% - .75rem);
  }
  &:after {
    font-size: .75rem;
    content: '\02197' ;
  }
}


/***************/
/*** spacing ***/
/**************/
.ma0 { margin: 0rem; }
.ma05 { margin: 0.5rem; }
.ma1 { margin: 1rem; }
.ma2 { margin: 2rem; }
.mt0 { margin-top: 0rem; }
.mt1 { margin-top: 1rem; }
.mr05 { margin-right: .5rem; }
.mb0125 { margin-bottom: .125rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }
.mb5 { margin-bottom: 5rem; }
.pa1 { padding: 1rem; }
.pt1 { padding-top: 1rem; }
.pr1 { padding-right: 1rem; }
.pb1 { padding-bottom: 1rem; }
.pb2 { padding-bottom: 2rem; }
.pb3 { padding-bottom: 3rem; }


/***************/
/** position **/
/**************/
.r-0 { right: 0 !important;}
.l-0 { left: 0 !important;}
.t-0 { top: 0 !important; }
.absolute { position: absolute !important; }
.fixed { position: fixed !important; }
.left { float: left; }
.right { float: right; }
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/***************/
/**** hover ****/
/**************/
.dim { opacity: 1; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:hover, .dim:focus { opacity: .5; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:active { opacity: .8; -webkit-transition: opacity .15s ease-out; transition: opacity .15s ease-out; }


/***************/
/***** etc *****/
/**************/
.shadow { box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25); }
.bg-white { background: white; }
.h-100 { height: 100%; }
.h-100vh { height: 100vh; }
.h-1 { height: 1rem; }
.h-2 { height: 2rem; }
.z-100 { z-index: 100; }
.scroll { overflow: auto; }
.mw-70 { max-width: 70%; }
.w-1 { width: 1rem; }
.w-3 { width: 3rem; }
.w-50 { width: 50%; }
.flex { display: flex; }
.inline-block { display: inline-block; }
.justify-between { justify-content: space-between;}
.pe-none { pointer-events: none; }
.pe-initial { pointer-events: initial; }
.items-center { align-items: center; }
.center {
    margin-right: auto;
    margin-left: auto;
}
.border-box {
  box-sizing: border-box;
}

/***************/
/** split.js **/
/**************/
.gutter {
  background-color: #fff;
  border-right: 1px grey;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: 40% 50%;
  pointer-events: initial;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

/*************************/
.markdown {
  //height: 100%;

  img {
    display: block;
    padding-bottom: 1rem;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .list li {
    padding-left: 1em;
    text-indent: -1em;
  }

  .list:before {
    content: "—";
    padding-right: .5rem;
  }

  a { color: blue; }

}
