<!doctype html>
<html id="html" lang="">
{% include head.html %}
<body class="sans-serif ma1 measure">

    <nav>
      <section class="mb3">
        <h1 class="f3 ma0">Trevor Carr</h1>
        <p class="ma0">I’m a designer and front-end developer based in Minneapolis, MN. and working as 50% of <a class="link dim out" href="http://defaultvalue.info/">Default Value</a>.</p>
        <p>Previously located in Baltimore, MD with a BFA from <a class="link dim out" href="https://www.mica.edu/">MICA</a></p>
      </section>
      <section class="mb3">
        <h2 class="f3 ma0">Links</h2>
        <ul class="ma0 list">
          {% for item in site.links %}
            <li class="bullet"><a class="link dim {% if item.out %}out{% endif %}" href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </section>
      <section class="mb3">
        <h2 class="f3 ma0">Work</h2>
        <ul class="ma0 list">
          {% assign sorted = site.projects | sort:"position" %}
          {% for project in sorted %}
            {% if project.publish %}
              {% assign filtered-photo = {{project.photo}} | replace: '/uploads/', '' %}
              <div class="flex items-center">
                <img
                  class="h-2 w-3 mr05 mb0125"
                  src="{{ filtered-photo | imgix_url: w: 300, h: 200, q: 70, fit: 'crop' }}"
                  alt="{{ project.title }}" />

                <li><a class="link dim" href="{{project.url}}">{{project.title}}</a></li>
              </div>
            {% endif %}
          {% endfor %}
        </ul>
      </section>

      {% include footer.html %}

    </nav>

    <main id="r" class="t-0 l-0 r-0 fixed z-100 h-100 flex pe-none">
      <div id="r1" class="w-0 pe-none"></div>
      <div id="r2" class="h-100 scroll bg-white pt1 pr1 pb1 w-0 pe-initial">
        {{ content }}
      </div>
    </main>

    {% if page.url != "/" %}
      {% include javascripts.html %}
    {% endif %}

</body>
</html>
