---
layout: default
---

<div class="clearfix">
  <a class="link dim right" href="/">close</a>
  <h2 class="f3 ma0 left">{{page.title}}</h2>
  {% if page.time != null %}
    <div class="ttu left"><span class="ma05">—</span> {{page.time}}</div>
  {% endif %}
</div>

<div class="markdown">
  {{ content | replace: '<li>[ ]',
                        '<li>
                         <input type="checkbox" onclick="return false;">' |
               replace: '<li>[x]',
                        '<li>
                         <input type="checkbox" value="on" onclick="return false;" checked>'  }}
</div>
